* {
    margin: auto;
    padding: auto;
    word-wrap: break-word;
    word-break: break-word;
    box-sizing: border-box;
}
body {
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-size: 16px;
    text-align: center;
    background-color: rgb(251, 245, 233);
}
/*
NAV BAR
*/
nav {
    position: absolute;
    top: 0px;
    left: 0px;

    background-color: rgba(183, 134, 29, 0.1);
    text-align: start;

    width: 100%;
    height: 120px;

    padding: 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    transition: 0.25s;
}
nav:hover {
    background-color: rgba(183, 134, 29, 0.3);
}
nav .fab, nav p img{
    margin-left: 20px;
    color: #00acee;
    font-size: 24px;
    width: 24px;
    height: 24px;
}
nav .fab, nav p img{
    float: right;
}
@media (max-width: 300px) {
    nav p .fab, nav p img{
        display: none;
    }
}
/*
NAV LOGO
*/
.logo{
    margin-left: -25px;
	object-fit: contain;
	width: auto;
    height: 120px;
	transition: 0.25s;
	cursor: pointer;
}
.logo:hover {
	transform: scale(1.1);
}
.content {
    margin-top: 50px;
}
.sec-title {
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 20px;
    display: block;
}
/*
HEADER
*/
header {
    margin-top: 200px;
    width: 100%;
}

header p {
    max-width: 95%;
    max-width: 1300px;
    padding: 0 16px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
}

header h1 {
    font-size: 2rem;
}

main p,
nav p {
    margin: 0 0 20px;
    padding: 0;
    max-width: 400px;
    display: block;
    text-align: start;
}

.container {
    text-align: start;
    width: 90%;
    max-width: 1300px;
    padding: 0 16px;
}
/*
BLOGS
*/
.blogs {
    display: flex;
	flex-direction: column;
}
.blogs a {
    margin-left: 0px;
    text-decoration: none;
    color: black;
}
/*
BLOG CARDS
*/

blog-card {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    position: relative;
}
blog-readtime {
    position: absolute;
    top: -35px;
    left: 0px;
    display: none;
    background: #4441ff;
    padding: 8px;
    border-radius: 7px;
    color: #fff;
}
.blogs a:hover blog-readtime {
    display: block;
}
blog-container {
    margin-left: 5vmin;
}
blog-container h2 {
    font-size: 24px;
}
blog-img img {
    width: 48px;
    height: 48px;
    object-fit: cover;
}
/*
FOOTER
*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: #fff;
    background-color: #303031;
}
footer img{
    vertical-align: middle;
    width: 2.5vh;
    height: 2.5vh;
}
footer p {
    margin: 0px;
}
/*
RESPONSIVE
*/
@media (max-width: 470px) {
    .blog {
        display: flex;
        flex-direction: column;
    }
    .blog img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    .blog-content{
        margin-left: 0px;
    }
}
/*
RECOMMENDED
*/
.recommended img {
    object-fit: contain;
    width: 100px;
    height: 100px;
}