* {
    margin: auto;
    padding: auto;
    word-wrap: break-word;
    word-break: break-word;
    box-sizing: border-box;
}
body {
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-size: 16px;
    min-width: 100%;
    text-align: center;
    background-color: #fff;
}
header, header p{
    margin: auto;
    text-align: center;
}
p {
    margin: 0 0 20px;
    padding: 0;
    max-width: 400px;
    display: block;
    text-align: start;
}
.container {
    text-align: start;
    width: 90%;
    max-width: 1300px;
    padding: 0 16px;
}
nav {
    text-align: start;
    width: 90%;
    max-width: 1300px;
    padding: 0 16px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    height: 40px;
    z-index: 99999;
}
nav .fab, nav p img{
    margin-left: 20px;
    margin-top: 27px;
    color: #00acee;
    font-size: 24px;
    width: 24px;
    height: 24px;
}
nav .fab, nav p img{
    float: right;
}
.logo {
    margin-top: -20px;
    margin-left: -25px;
	object-fit: contain;
	width: auto;
    height: 120px;
	transition: 0.25s;
	cursor: pointer;
}
.logo:hover {
	transform: scale(1.1);
}
@media (max-width: 300px) {
    nav p .fab, nav p img{
        display: none;
    }
}
.content {
    margin-top: 50px;
}
.sec-title {
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 20px;
    display: block;
}
.contributor-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.contributor-links img, .contributor-links a:nth-child(1){
    margin-right: 0px;
    width: 28px;
    height: 28px;
}
.contributor-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contributor-content p {
    width: 70%;
    max-width: 600px;
}
footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: #fff;
    background-color: #303031;
}
footer img{
    vertical-align: middle;
    width: 2.5vh;
    height: 2.5vh;
}
footer p {
    margin: 0px;
}