* {
    margin: auto;
    padding: auto;
    word-wrap: break-word;
    word-break: break-word;
    box-sizing: border-box;
}
body {
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-size: 16px;
    min-width: 100%;
    text-align: center;
    background-color: #fff;
}
header, header p{
    width: 100%;
    margin: auto;
    text-align: center;
}
p {
    margin: 0 0 20px;
    padding: 0;
    max-width: 400px;
    display: block;
    text-align: start;
}
.container {
    text-align: start;
    width: 90%;
    max-width: 1300px;
    padding: 0 16px;
}
nav {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    height: 40px;
    z-index: 99999;
}
nav .fab, nav p img{
    margin-left: 20px;
    margin-top: 27px;
    color: #00acee;
    font-size: 24px;
    width: 24px;
    height: 24px;
}
nav .fab, nav p img{
    float: right;
}
.logo {
    margin-top: -20px;
    margin-left: -25px;
	object-fit: contain;
	width: auto;
    height: 120px;
	transition: 0.25s;
	cursor: pointer;
}
.logo:hover {
	transform: scale(1.1);
}
@media (max-width: 300px) {
    nav p .fab, nav p img{
        display: none;
    }
}
.content {
    margin-top: 50px;
}
/*
Lesson Cards CSS
*/
.lessons {
    justify-content: start;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
}
.lessons .lesson {
    cursor: pointer;
    border-radius: 7px;
    padding: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.lesson {
    color: #000;
    text-decoration: none;
}
.lessons .lesson img {
    margin-right: 1em;
    width: 48px;
    height: 48px;
}
.lessons .lesson:hover {
    background-color: #f3f3f3;
}
/*
Lesson CSS
*/
.lesson-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lesson-text p{
    max-width: 100vh;
    margin: 30px auto 30px;
}
.lesson-text .lesson-btn {
    text-align: center;
    text-decoration: none;
    min-width: 20vh;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 7px;
    padding: 8px;
    cursor: pointer;
    background-color: #3c3c3c;
}
.lesson-code {
    border-radius: 7px;
    color: #fff;
    padding: 8px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 30px;
    background-color: #3c3c3c;
}
.lesson-text table{
    padding: 8px;
    border-radius: 7px;
    border:  1px solid wheat;
    margin-bottom: 30px;
    max-width: 100%;
    width: 100%;
    gap: 20px;
}